body {
    margin: 0;
}

nav {
    display: block;
    height: 38px;
    background-color: rgb(241, 68, 0);
    padding: 30px 20px;
    font-family: stolzl, sans-serif;
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    padding: 5.5px 6px;
    float: left;
    font-size: 22px;
    color: rgb(255, 227, 215);
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    color: white;
}

nav a.logo {
    padding: 0px;
    padding-right: 20px;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

nav a.logo span {
    color: rgb(60, 0, 255);
}

header {
    display: block;
    background: linear-gradient(to right, rgb(60, 0, 255, .5), rgb(241, 68, 0, .5)), url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
    padding: 360px 0 60px;
}

header .content {
    background: linear-gradient(to bottom, white, rgb(216, 216, 216));
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

header .content h1 {
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

header .content p {
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}

header .content hr {
    border: 3px rgb(31, 31, 31) solid;
    width: 40px;
    display: block;
    margin: 20px auto;
}

.linkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(rgb(241, 68, 0), rgb(189, 62, 12));
    border-radius: 100px;
    color: white;
    margin: 20px auto 0;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 12px 24px;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

section.columns3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

section .content {
    background: linear-gradient(rgb(241, 68, 0), rgb(189, 62, 12));
    padding: 80px 20px;
}

section .content h1 {
    color: white;
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: left;
}

section .content p {
    color: white;
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
}

section .content hr {
    border: 6px rgb(60, 0, 255) solid;
    width: 60px;
    display: block;
    margin: 10px 0;
}

.image {
    background: linear-gradient(to right, rgb(60, 0, 255, .25), rgb(241, 68, 0, .25)), url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
}

.image#imac {
    background: url("https://www.fullsailgraphics.com/wp-content/uploads/2016/10/imac-flat.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

section .content a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(rgb(60, 0, 255), rgb(47, 4, 189));
    border-radius: 100px;
    color: white;
    margin: 20px auto 0;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 12px 24px;
}

aside {
    display: block;
    margin-top: 10px;
}

aside .content {
    background: rgb(47, 4, 189);
    padding: 80px 20px;
}

aside .content h1 {
    color: white;
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

aside .content p {
    color: white;
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

aside .content hr {
    border: 6px rgb(241, 68, 0) solid;
    width: 60px;
    display: block;
    margin: 20px auto;
}

aside .content a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(rgb(241, 68, 0), rgb(189, 62, 12));
    border-radius: 100px;
    color: white;
    margin: 20px auto 0;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 12px 24px;
}

article {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(216, 216, 216));
}

article.three {
    grid-template-columns: 1fr 1fr 1fr;
}

article div.content {
    display: block;
    padding: 100px 20px;
}

article .content h1 {
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: left;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: left;
    padding-inline-start: 0px;
}

ol li {
    margin: 40px 0 10px;
    display: block;
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter);
    background: rgb(47, 4, 189);
    color: rgb(255, 86, 19);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    margin-right: 10px;
    width: 58px;
    display: inline-block;
    border-radius: 100px;
}

article .content p {
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

article .content hr {
    border: 3px rgb(31, 31, 31) solid;
    width: 40px;
    display: block;
    margin: 20px 0;
}

.linkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .content a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(rgb(241, 68, 0), rgb(189, 62, 12));
    border-radius: 100px;
    color: white;
    margin: 20px auto 0;
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    padding: 12px 24px;
}

img.circle {
    display: block;
    max-width: 300px;
    margin: 0 auto 40px;
    border-radius: 50%;
}

section .content.orange {
    background: linear-gradient(rgb(241, 68, 0), rgb(143, 41, 1));
    background-position: center;
    background-size: cover;
}

section .content.purple {
    background: linear-gradient(rgb(60, 0, 255), rgb(38, 4, 149));
    background-position: center;
    background-size: cover;
}

section .content.black {
    background: linear-gradient(to bottom, rgb(31, 31, 31), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
}

section .content.purple a {
    background: linear-gradient(rgb(241, 68, 0), rgb(143, 41, 1));
}

section .content.black a {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(216, 216, 216));
    color: rgb(31, 31, 31);
}

article .content.team h1 {
    color: white;
}
article .content.team p {
    color: white;
    font-size: 28px;
}
article .content.team hr {
    border-color: white;
}

img {
    width: 100%;
    display: block;
}